body {
  background-color: #1A1D29;
}

#log-body {
  background-color: azure;
}

#log-body .navbar {
  display: none;
  visibility: hidden
}

.navbar {
  background-color: #5c0353;
  position: fixed;
   top: 0;
   z-index: 100;
  width: 100%;
}

#navalign {
  margin-left: auto;
  text-align: center;
  right: 100%;
}

.container {
  height: 100% !important;
}



@keyframes navpage {
  from {background-color: #991AFD}
  to {background-color: #00F0FF;}
}

@keyframes navlink {
  from {background-color:#FF00E5 ;}
  to {background-color:#00F0FF ;}
}

.navpages {
  background-color: #991AFD;
  border-bottom: solid 1px black;
}

.navpages:hover {
  animation-name: navpage;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.navlogin {
  background-color: #FF00E5;
  border-bottom: solid 1px black;
}

.navlogin:hover {
  animation-name: navlink;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.logoutButton {
  background-color: #FF00E5;
  border: none;
  padding: 7.3px;
  color: white !important;
  font-weight: bold;
}

.logoutButton:hover {
  animation-name: navlink;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

#logo {
  width: 200px;
  height: 50px
}

form {
  margin: auto;
  width: 50%;
  padding: 100px;
}

.form-label {
  color: white !important;
  font-weight: bold;
}

.homePageDiv {
  margin: auto;
  padding-top: 100px;
  color: white;
}