body {
  background-color: rgb(42, 0, 97);
  font-family: 13px/20px DM Sans,sans-serif;
  background-repeat: no-repeat;
}

#log-body {
  background-color: rgb(42, 0, 97);
}

#log-body .navbar {
  display: none;
  visibility: hidden
}

/* NavBar */

.navbar {
  background-color: #000;
  position: fixed;
   top: 0;
   z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.navBarTabs {
  float:right;
}

.navalign { 
  height: 100%
}

.navpages {
  padding: 20px;
}

.navpages:hover {
  animation-name: navpage;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  padding: 20px;
}

.navH1 {
  color: #fff !important;
  padding-top: 3px;
  font-weight: 200;
}

.navlogin {
  padding: 20px;
}

.navlogin:hover {
  animation-name: navlink;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  padding: 20px;
}

.nav-link {
  color: #fff !important;
  font-weight: 400;
}

.nav-link:hover {
  color: rgb(194, 41, 186) !important;
  font-weight: 400;
}

#logo {
  width: 250px;
  height: 70px;
  margin-right: 50px;
}

.form-label {
  color: white !important;
  font-weight: 400;
}

/* HomePage */

.homePageDiv {
  margin: auto;
  padding-top: 100px;
}

.homePage {
  text-align: center;
}

.welcomeDiv {
  background-color: #000;
  width: 100%;
  height: 250px;
  text-align: center;
}

.welcomeDiv1 {
  background-color: #000;
  width: 100%;
  height: 200px;
  text-align: center;
}

.homepageFooter {
  background-color: #000;
  width: 100%;
  height: 250px;
}

.homePageWelcomeHeader {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
}

.homePageWelcomeHeader2 {
  color: #fff;
  font-weight: 300;
  padding-top: 20px;
}

.welcomeUsername {
  color: #fff;
}

.welcomeUsername2 {
  color: #fff;
  font-size: large;
  font-weight: 300;
}

.welcomeUsername2:hover {
  color: rgb(194, 41, 186);
  font-size: large;
  font-weight: 300;
}

.welcomeUsername:hover {
  color: #fff;
}

.joinCommunity {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}

.homePageh2 {
  font-weight: 300;
  color: #fff;
}

.homePageh4 {
  font-weight: 300;
  color: #fff;
}

.homePageFloatContainer {
  margin: auto;
  padding-top: 100px;
}

.homePageHaveAccount {
  font-size: small;
}

.homePageLogin {
  font-weight: 700;
}

.homePageLogin:hover {
  font-weight: 700;
  text-decoration: underline;
}

.homePageSignUp {
  font-weight: 700;
}

.homePageSignUp:hover {
  font-weight: 700;
  text-decoration: underline;
}

.memberAccountCard {
  align-items: center;
  color: #fff;
  background-color: #000;
  border-color: #000;
  margin: 20px;
  height: 280px;
}

.createdPlaylistCard {
  align-items: center;
  color: #fff;
  background-color: #000;
  border-color: #000;
  margin: 20px;
  height: 280px;
}

.coverImage {
  width: 250px;
  height: 200px;
  margin: 20px;
}

.playlistTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: x-large;
  font-weight: 300;
  color: rgb(194, 41, 186);
}

.playlistTitle:hover {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: x-large;
  font-weight: 300;
  color: rgb(194, 41, 186);
}

.playlistRequestTitle {
  margin-top: 30px;
  text-decoration: none;
  font-size: x-large;
  font-weight: 300;
  color: rgb(194, 41, 186);
}

.playlistContainer {
  display: inline-block;
  margin-top: 50px;
  height: 400px;
  width: 100%;
  background-color: rgb(42, 0, 97);
  color: #000;
}

.playlistCards {
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
}

.createdPlaylistURL {
  text-decoration: none;
  font-size: medium;
  font-weight: 300;
  color:#fff;
}

.createdPlaylistURL:hover {
  text-decoration: underline;
  font-size: medium;
  font-weight: 300;
  color:#fff;
}

.receivedPlaylistURL {
  text-decoration:none;
  color: #000;
  font-weight: 300;
}

.playlistDescription {
  color: #ffff;
  font-weight: 300;
}

.fulfilledRequestP {
  color: #fff;
  font-weight: 300;
  font-size: medium;
  padding-top: 10px;
}

.createdPlaylistButton {
  background-color: #000;
  border-color: #000;
}

.createdPlaylistButton:hover {
  background-color: #000;
  border-color: #000;
}

/* CreatedPlaylists */

.createdPlaylistsContainer {
  margin: 50px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 115px;
  background-color: rgb(42, 0, 97);
  color: #000;
}

.searchBar {
  padding-top: 5px;
  background-color: #000;
  border-color: #fff;
  color: #fff;
}

.createdPlaylistsH2 {
  padding-top: 120px;
  padding-bottom: 10px;
  font-weight: 300;
  color: #fff;
}

.createdPlaylistsP {
  color: #fff;
  font-weight: 300;
}

.playlistCreator {
  color: #fff;
  font-weight: 300;
}

.playlistCreator:hover {
  color: #fff;
  font-weight: 300;
}

.createdPlaylistsDiv {
  background-color: #000;
  width: 100%;
  height: 300px;
  text-align: center;
}

.errorMessage {
  padding-top: 10px;
  font-size: small;
  color: rgb(255, 0, 0)
}

/* PlaylistRequests */

.requestedPlaylistsContainer {
  margin: 50px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 115px;
  background-color: rgb(42, 0, 97);
  color: #fff;
}

.requestedPlaylistButton {
  text-decoration: none;
  font-size: medium;
  font-weight: 300;
  color:#fff;
  background-color: #000;
  border-color: #000;
}

.requestedPlaylistButton:hover {
  text-decoration: underline;
  font-size: medium;
  font-weight: 300;
  color:#fff;
  background-color: #000;
  border-color: #000;
}

.submitDiv {
  padding-bottom: 20px;
}

.requestedPlaylistsDiv {
  background-color: #000;
  width: 100%;
  height: 325px;
  text-align: center;
}

.playlistRequester {
  color: #fff;
}

.playlistRequester:hover {
  color: #fff;
}

.submitRequest {
  color: #fff;
}

.submitRequest:hover {
  color: #fff;
}

/* PlaylistCreators */

.creatorsContainer {
  margin: 50px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 115px;
  background-color: rgb(42, 0, 97);
  color: #000;
}

.memberListMember {
  margin: 10px;
  height: 280px;
  padding: 30px;
  display: block;
  text-align: center;
  float: left;
  background-color: #000;
  border: 1px solid #000;
}

.memberListMember:hover {
  background-color: #000;
}

.memberListAvatar {
  width: 180px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
}

.memberListLink {
  font-weight: 300;
  font-size: large;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

.memberListLink:hover {
  font-weight: 300;
  font-size: medium;
  margin-top: 20px;
  color: #fff;
  text-decoration: underline;
}

/* AccountPage */

.accountPageWelcomeHeader {
  color: #fff;
  padding-top: 50px;
  font-weight: bold;
}

.accountPageP {
  color: #fff;
}

.accountPageAvatar {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.floatLeft {
  display: inline-block;
  margin: 20px;
}

.floatRight {
  display: inline-block;
}

.accountPlaylists {
  text-align: center;
}

/* MemberProfile */

.memberPageFloatContainer {
  margin: auto;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}

.memberPageFloatLeft {
  float: left;
  width: 20%;
  margin-top: 25px;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 48px;
  background-color: #000;
  color: #fff;
  overflow-wrap: break-word;
} 

.memberPageFloatRight {
  float: right;
  margin-top: 25px;
  width: 73%;
  background-color: #fff;
} 

/* SignUpPage */

.signUpForm {
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  height: 750px;
  padding: 80px;
  background-color: #000;
}

.signUpPage {
  background-color: rgb(42, 0, 97);
  height: 100%;
}

.signUpFormDiv {
  margin-top: 150px;
  margin-bottom: 20px;
}

.signUpButton {
  background-color: #fff;
  color: #000;
  margin-top: 20px;
}

.signUpButton:hover {
  background-color: #fff;
  color: #000;
  margin-top: 20px;
}

.signUpHeader {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.signUpLabel {
  margin-top: 10px;
}

/* LoginPage */

.loginPage {
  background-color: rgb(42, 0, 97);
  height: 100%;
}

.loginFormDiv {
  margin-top: 220px;
}

.loginForm {
  margin: auto;
  width: 500px;
  padding: 100px;
  background-color: #000;
}

.loginButton {
  background-color: #fff;
  color: #000;
}

.loginButton:hover {
  background-color: #fff;
  color: #000;
}

.memberLoginHeader {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

/* CreatedPlaylistsPage */

/* SubmitPlaylist */
.submitPlaylistPage {
  background-color: rgb(42, 0, 97);
  height: 100%;
}

.submitPlaylistFormDiv {
  margin-top: 180px;
  margin-bottom: 120px;
}

.submitPlaylistForm {
  margin: auto;
  width: 500px;
  padding: 100px;
  background-color: #000;
}

.submitPlaylistButton {
  background-color: #fff;
  color: #000;
}

.submitPlaylistButton:hover {
  background-color: #fff;
  color: #000;
  margin-top: 10px;
}

.submitPlaylistHeader {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.submitLabel {
  margin-top: 10px;
}

/* SubmitRequest */
.submitRequestPage {
  background-color: rgb(42, 0, 97);
  height: 100%;
}

.submitFormDiv {
  margin-top: 180px;
  margin-bottom: 120px;
}

.submitRequestForm {
  margin: auto;
  width: 500px;
  padding: 100px;
  background-color: #000;
}

.submitRequestButton {
  background-color: #fff;
  color: #000;
  margin-top: 10px;
}

.submitRequestButton:hover {
  background-color: #fff;
  color: #000;
}

.submitRequestHeader {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
