body {
  background-color: #0F0038;
}

.navbar {
  background-color: #5c0353;
  

}
#navalign {
  margin-left: auto;
  right: 100%;
  
}

.container {
  height: 100% !important;
}

.navpages {
  background-color: #991AFD;
 
  
  
}

@keyframes navpage {
  from {background-color: #991AFD}
  to {background-color: #00F0FF;}
}

@keyframes navlink {
  from {background-color:#FF00E5 ;}
  to {background-color:#00F0FF ;}
}
.navpages:hover {
  animation-name: navpage;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  
}

.navlogin {
  background-color: #FF00E5;
}

.navlogin:hover {
  animation-name: navlink;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.nav-link {
  color: white !important;
  font-weight: bold;
  
  
}

#logo {
  width: 200px;
  height: 50px
}